
.pagination {
    display: inline-block;
    padding: 0;
    margin: 0 -15px;
}

.search-results-list {
    padding: 0;
}

.pagination li {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    color: dodgerblue;
}

.pagination .break a {
    cursor: default;
    color: dodgerblue;
}
.search-results-list {
    text-align: left;
}
