.avatar {
    width: 64px;
    height: 64px;
    margin-right: 10px;
    vertical-align: text-top;
    border-radius: 32px;
}
.user-info {
    display: block;
}

.user-info h3 {
    margin-top: 0;
    margin-bottom: 5px;
}

.user-login {
    margin-right: 10px;
    color: dodgerblue;
}

.user-login {
    font-size: 1.1em;
    font-weight: normal;
}

.user-name {
    color: slategray;
    font-weight: normal;
    font-size: .9em;
}
.user {
    display: flex;
    align-content: flex-start;
    margin-bottom: 10px;
}

.user-stats a, .location {
    margin-right: 10px;
    color: slategray;
    font-size: .85em;
}